@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
/* 
@media only screen and (max-width: 765px) {
	.Main {
		background-color: hsl(0, 0%, 100%);
		height: 600px;
		width:100%;
		border-top-left-radius: 20px;
		border-top-right-radius: 20px;
		border-bottom-left-radius: 20px;
		border-bottom-right-radius: 20px;
		margin-top: 40px;
	}
} */

@media only screen and (max-width: 375px) {
	.Main {
		background-color: hsl(0, 0%, 100%);
		height: 600px;
		width:100%;
		border-top-left-radius: 20px;
		border-top-right-radius: 20px;
		border-bottom-left-radius: 20px;
		border-bottom-right-radius: 20px;
		margin-top: 40px;
		/* padding: 20px; */
	}

	.Main-Container{
		background-color: aquamarine;
		margin: 20px;
	}

	.Main-Container p {
		font-family: 'Space Mono', monospace;
	}
}